@import '../app/variables.scss';

.layout{
    position: relative;
}
@media (min-width: $tablet-size) {
    .layout{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@media (min-width: $desktop-size) {
    .layout{
        flex-direction: row;
        height: 100%;
    }
}