@import '../app/variables.scss';
@media (min-width:$tablet-size) {
    .page{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }.editPage{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 2;
    }
}

@media (min-width: $desktop-size) {
    .page,.editPage{
        height: auto;
        width: calc(100% - 103px);
    }
}