@import '../app/variables.scss';
@media (min-width:$tablet-size) {
    .page,.editPage{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }.viewPage{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 2;
    }
}

@media (min-width: $desktop-size) {
    .page,.viewPage,.editPage{
        height: auto;
        width: calc(100% - 103px);
        overflow-y: scroll;
    }
    .viewPage{
        position: relative;
        order: 0;
    }
}