@import './mixin.scss';
$light-background: #FFFFFF;
$dark-background: #373B53;
$header-profile-line: #494E6E;
$color01: #7C5DFA;
$color02: #9277FF;
$color03: #1E2139;
$color04: #252945;
$color05: #DFE3FA;
$color06: #888EB0;
$color07: #7E88C3;
$color08: #0C0E16;
$color09: #EC5757;
$color10: #FF9797;
$color11: #F8F8FB;
$color12: #141625;
$color13: #ffffff;
$color14: #858BB2;
$colorPaid: #33D69F;
$colorPending: #FF8F00;
$tablet-size: 768px;
$desktop-size: 1440px;
$mobile: 87.2%;
$tablet: 91.67%;
$desktop: 730px;