@import '../../app/variables.scss';
@import '../../app/mixin.scss';

.nothing{
    background-color: $color11;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        margin: 102px 0 42px 0;
        height: 160px;
        width: auto;
        object-fit: cover;
    }
    .title{
        color: $color08;
        @include font(24px, 700, 22.08px, -0.75px, left);
    }
    .description{
        color: $color06;
        @include font(13px, 500, 15px, -0.10000000149011612px, center);
        margin: 23px 0 50px 0;
    }
}
.nothingDark{
    background-color: $color12;
    .title{
        color: $color13;
    }
    .description{
        color: $color05;
    }
}

@media (min-width:$tablet-size) {
    .nothing{
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin: 0 0 60px 0;
            height: 200px;
        }
    }
}

@media (min-width:$desktop-size) {
    .nothing{
        img{
            height: 199.46px;
        }
    }
}